* {
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.mode{
    float: right;
    margin: 5px;
    padding: 3px;
    color: black;
    background-color: white;
    border-radius: 1rem;
}

h1 {
    margin: 1rem;
    clear: both;
}

.icon {
    font-size: 1.5rem;
}

.container {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.from,
.to {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

}

select {
    font-size: 1.7rem;
}

#fromCurrency {
    font-size: 1rem;
}

.flag {
    height: 64px;
}

.output {
    border: 1px solid black;
    width: 13.5rem;
    height: 2.1rem;
    border-radius: 3px;
}

.button {
    margin: 2rem;
    height: 3rem;
    width: 15rem;
    font-size: 1.5rem;
    background-color: rgb(78, 225, 56);
    border-radius: 4px;
    border: px solid black;
    cursor: grab;
}


.output {
    background-color: white;
}

/*Screen mode Black & Blue*/

.body,
.mode{

    background-color: yellow;
}

.changeMode {
    background-color: black;

    .head,
    i {
        color: blue;
    }

    .output,
    input,
    select {
        color: blue;
        background-color: black;
        border: 1px solid white;
        border-radius: 0;
    }

    .button {
        border: white solid 1px;
        background-color: black;
        color: white;
    }

    .mode {
        border: 2px solid white;
        background-color: black;
        color: white;
    }
}
